h{
    font-size: 40px;
    color:red;
    margin-left: 40%;
    
}
body{
   margin-top: 10%;
    background:linear-gradient(grey,black);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:7%;
    
}
#login{
    color: white;
    margin-left: 45%;
    font-size: 30px;
    font-family: sans-serif;
}

#register{
    color: white;
    margin-left: 45%;
    font-size: 30px;
    font-family: sans-serif;
}

#myBox{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 80%;
    right: 2%;
    
}
#us{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    font-weight: normal;
    align-items: center;
    text-align: center;
}
