body{
    margin-top: 10px;
     background:linear-gradient(grey,black);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     
     
 
 }
.fom{
    margin-top: 20px;
    margin-left: 30%;
    color: white;
    }
#h1{
    color: coral;
    margin-left: 30%;
}
#female:hover{
    color: pink;
}
#male:hover{
    color:skyblue
}
